.move-left{
  animation-name: move-left;
  animation-duration: 0.15s;
}

@keyframes move-left {
  0% {right: 0;  opacity: 0;}
  49% {right: -3vw; opacity: 0;}
  50% {right: 3vw; opacity: 0;}
  100% {right: 0; opacity: 1;}
}

.move-right{
  animation-name: move-right;
  animation-duration: 0.15s;
}

@keyframes move-right {
  0% {left: 0; opacity: 0;}
  49% {left: -3vw; opacity: 0;}
  50% {left: 3vw; opacity: 0;}
  100% {left: 0; opacity: 1;}
}
.hide-details {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s linear 0.2s;
}

.show-details {
  visibility: show;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
