.pokemon-list{
  display : flex;
  flex-wrap : wrap;
  justify-content: space-around;
  padding : 16px 0;
  max-width: 1300px;
  margin: auto;
}

.list-open {
  margin:0;
  max-width: calc(70vw - 32px);
}
