.hide-pokemon {
  right: -30vw;
  opacity: 0;
  bottom: 0;
  top: 0;
}
.show-pokemon {
  opacity: 1;
  right: 0;
  bottom: 0;
  top: 0;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.details {
  width: 30vw;
  height: 100vh;
  position: fixed;
  background: $details-body;
  display: flex;
  transition: 0.2s right, 0.2s opacity ease-in-out;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 5px;
    padding: 2px;
    background: $light-blue;
  }
  &::-webkit-scrollbar {
    width: 10px;
    background: $details-body;
  }
}
@media only screen and (max-width: 1000px) {
  .details {
    width: 100vw;
    height: 80vh;
    top: 20vh;
  }
  .hide-pokemon{
    right: -100vw;
  }
  .close-wrap {
    display: inline-block!important;
  }
}
.close-wrap {
  position: fixed;
  top: 20px;
  box-sizing: border-box;
  height: 85px;
  width: 85px;
  display: none;
  left: 20px;
  text-align: left;
  padding: 20px;
  background: rgba(0,0,0,0.20);
  border-radius: 50%;
}
.close-btn {
  width: 100%;
  margin: auto;
}
.left-wrap, .right-wrap {
  display: inline-block;
  width: 50%;
  cursor: pointer;
  transition: transform 0.1s ease;
  &:active {
    transform: scale(1.05);
  }
}
.left-wrap{
  text-align: left;
}
.right-wrap{
  text-align: right;
}
.content{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.left-arrow, .right-arrow {
  width: 20px;
}

.load-arrow {
  opacity: 0.1;
  cursor: initial;
}
