.stats {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  p {
    text-align: left;
    margin-bottom: 0;
    flex-basis: 100%;
    font-size: 1.4em;
  }
  .stat {
    flex-basis: 100%;
    margin-top: 10px;
    p {
      font-size: 1em;
      margin-bottom: 5px;
    }
  }
}

.bar-container {
  width: 100%;
  background: $light-blue;
  padding: 2px;
  border-radius: 19px;
  .bar{
    background: $blue;
    border-radius: 15px;
    height: 15px;
  }
}
