HTML, body{
  font-family : sans-serif;
  background: #e2e1e0;
    text-align : center;
}
.pokeapp{
    padding : 16px;
}
.pokemon--species--list{
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -ms-flex-wrap : wrap;
        flex-wrap : wrap;
    padding : 16px 0;
}
.pokemon--species{
    -ms-flex-preferred-size : 25%;
        flex-basis : 25%;
    padding : 8px;
    box-sizing: border-box;

}
.pokemon--species--container{
    padding : 8px;
    background : white;
    cursor : pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.hide {
  bottom: -80vh;
}
.show {
  bottom: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.show, .hide {
  width: 80vw;
  height: 80vh;
  position: fixed;
  background-color: white;
  margin: auto;
  left: 0;
  right: 0;
  transition: 0.2s bottom ease-in-out;
}

.close, .left, .right {
  position: absolute;
  cursor: pointer;
}
.close {
  right: 30px;
  top: 30px;
  height: 20px;
  width: 20px;
}
.left {
  height: 30px;
  width: 30px;
  left: 30px;
  top: calc(50% - 10px);
}
.right {
  height: 30px;
  width: 30px;
  right: 30px;
  top: calc(50% - 10px);
}
.sprite {
  width: 20%;
}
