.basic-info {
  padding: 20px;
  .sprite {
    width: 300px;
    height: 300px;
  }
  .profile {
    margin-top: -30px;
    p {
      border-bottom: 2px solid $light-blue;
      display: flex;
      justify-content:space-between;
      &:nth-child(2){
        display: block;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 0;
        border: none;
        font-size: 1.4em;
      }
    }
  }
}
.number {
  color:white;
  background: $blue;
  border-radius: 3px;
  padding: 5px;
  transform: translateY(-5px);
}
.pager-container{
  display: flex;
  width: 100%;
  transform: translateY(-15px);
  justify-content: center;
  li {
    list-style: none;
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    .pager {
      cursor: pointer;
      border: 2px solid $blue;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: $light-blue;
    }
    .current-img {
      background-color: $blue;
      animation: bubble 0.1s cubic-bezier(.47,1.02,.56,1.57);
    }
  }
}
