$blue: #82ADE2;
$light-blue: #C1D6F1;
$details-body: #E6F1FF;

$large-break: 1500px;

$normal: #B5B5A4;
$poison: #A15398;
$psychic: #F95AAC;
$grass: #81D248;
$ground: #E9C34D;
$ice: #8BEFFF;
$fire: #F94B3B;
$rock: #C7B467;
$dragon: #7C69FF;
$water: #4BA5FF;
$bug: #BACC1E;
$dark: #845E4C;
$fighting: #9E4C3A;
$ghost: #6964C4;
$steel: #BCBAD5;
$flying: #6D9AFF;
$electric: #FDE135;
$fairy: #F8A4FF;
